<footer>
  <div class="container text-center">
    <p class="pull-left">© 2016 VBUTT, Inc. All Rights Reserved</p>
    <ul class="pull-right list-inline">
      <li><a href="https://github.com/VBUTTHackathon/stalkit">GitHub Project</a></li>
      <li></li>
    </ul>
  </div>
</footer><a href="https://github.com/VBUTTHackathon/stalkit/issues">Issues</a>
